Node-RED/flows.json
[
    {
        "id": "17f85728fdc83cb1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d02453c092206f1e",
        "type": "inject",
        "z": "17f85728fdc83cb1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f27cad23767b48e2"
            ]
        ]
    },
    {
        "id": "1b8ce72ac238dfaf",
        "type": "debug",
        "z": "17f85728fdc83cb1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "f27cad23767b48e2",
        "type": "function",
        "z": "17f85728fdc83cb1",
        "name": "function 1",
        "func": "// Lo que está después de \"//\" son comentarios \n// Crea un objeto Date a partir del msg.payload enviado por timestamp \nvar date = new Date(msg.payload); \n// Cambia el payload para que sea una fecha con formato \nmsg.payload = date.toString(); \n// Regresa el mensaje para que se envíe al siguiente nodo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "1b8ce72ac238dfaf",
                "cd4e0239855cb686"
            ]
        ]
    },
    {
        "id": "cd4e0239855cb686",
        "type": "ui_text",
        "z": "17f85728fdc83cb1",
        "group": "82cf4dd5d4c25fa6",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Actual:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "82cf4dd5d4c25fa6",
        "type": "ui_group",
        "name": "Fecha y hora",
        "tab": "37497dbe0873eebf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37497dbe0873eebf",
        "type": "ui_tab",
        "name": "Fecha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]